*{
    font-size: 15px;
}

.Questions {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: silver;

}

h1 {
    font-size: 50px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-align: center;
    background-color: lightblue;
}

h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(35, 181, 248);
}

button {
    border-radius: 7px;
    margin: 5px;
}
